html {
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "JT Marnie", sans-serif;
  font-size: 17px;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h4,
h6 {
  margin: 0 0 1em 0;
  letter-spacing: -0.001em;
}
h1 {
  font-size: 60px;
  line-height: 1em;
}

@font-face {
  font-family: "JT Marnie";
  src: url("../fonts/JTMarnie-Light.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "JT Marnie";
  src: url("../fonts/JTMarnie-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "JT Marnie";
  src: url("../fonts/JTMarnie-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "JT Marnie";
  src: url("../fonts/JTMarnie-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "JT Marnie";
  src: url("../fonts/JTMarnie-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "JT Marnie";
  src: url("../fonts/JTMarnie-RegularItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "JT Marnie";
  src: url("../fonts/JTMarnie-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "JT Marnie";
  src: url("../fonts/JTMarnie-LightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "JT Marnie";
  src: url("../fonts/JTMarnie-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "JT Marnie";
  src: url("../fonts/JTMarnie-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "JT Marnie";
  src: url("../fonts/JTMarnie-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "JT Marnie";
  src: url("../fonts/JTMarnie-Regular.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
